<div class="login-container">
  <div >
    <h2 >Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <!-- Email -->
      <div>
        <p-floatLabel>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
          />
          <label for="email">Correo Electrónico</label>
        </p-floatLabel>
        <small
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          class="p-error"
        >
          El correo es obligatorio y debe ser válido.
        </small>
      </div>

      <!-- Contraseña -->
      <div style="margin: 5% 0 5% 0 ;">
        <p-floatLabel>
          <p-password
            id="password"
            formControlName="password"
            [feedback]="false"
            
          ></p-password>
          <label for="password">Contraseña</label>
        </p-floatLabel>
        <small
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          class="p-error"
        >
          La contraseña es obligatoria y debe tener al menos 6 caracteres.
        </small>
      </div>

      <!-- Botón de Login -->
      <div>
        <button
          pButton
          pRipple
          label="Iniciar Sesión"
          class="p-button-success p-button-lg"
          type="submit"
          [disabled]="loginForm.invalid || loading"
          [loading]="loading">
        </button>
      </div>


      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" >
        <small class="p-error">{{ errorMessage }}</small>
      </div>
    </form>
  </div>
</div>
