<div class="container">
    <div class="card">
        <p-menubar>
            <ng-template pTemplate="start">
                
                    <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" severity="info" />
                    
                    <img width="150px"
                    src="img/logosurblock.png"
                    alt="logo">
                <!-- <img width="100px" src="../../../assets/img/logosurblock.png" alt="logo"> -->
                <div style="display: inline; margin-left: 30px;" class="card flex justify-content-center">
                    <p-sidebar [(visible)]="sidebarVisible">
                        <div>
                            <h3>Categorias</h3>
                            <div class="card flex justify-content-center">
                                <p-tree class="w-full md:w-30rem" [value]="categorias" />
                            </div>

                        </div>
                      
                        <div *ngIf="isAdmin">
                            <h3>Admin</h3>
                            <div class="card flex justify-content-center">
                                <p-tree [style]="{cursor: 'pointer'}" class="w-full md:w-30rem" [value]="store"
                                selectionMode="single" (onNodeSelect)="nodeSelect($event)" ></p-tree>
                            </div>
                            <div class="card flex justify-content-center">
                                <p-tree [style]="{cursor: 'pointer'}" class="w-full md:w-30rem" [value]="user"
                                selectionMode="single" (onNodeSelect)="nodeSelect($event)" ></p-tree>
                            </div>
                        </div>
                        
                    </p-sidebar>
                    
                </div>
                
            </ng-template>
            
            <ng-template pTemplate="item" let-item let-root="root">
                
                <a pRipple class="flex align-items-center p-menuitem-link">

                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                    <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                    <span *ngIf="item.shortcut"
                        class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut
                        }}</span>
                    <i *ngIf="item.items"
                        [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
                </a>
            </ng-template>
            <ng-template pTemplate="end">
                
                <div style="display: flex; align-items: center;" class="flex align-items-center gap-2">
                    <!-- Botón para cambiar el tema -->
                    <p-button [icon]="isDarkTheme ? 'pi pi-sun' : 'pi pi-moon'" severity="info" (click)="changeTheme()"></p-button>
                    <div style="width: 100px;">
                        <p-button  routerLink="" icon="pi pi-home" severity="info"/>
                    </div>
                    
                    <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
                    <!-- <div style="margin-left: 10px;">
                        <button (click)="login()" type="button" class="p-link">
                            <img style="width: 40px;"
                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Profile">
                        </button>
                    </div> -->
                    <div style="margin-left: 10px;">
                        <p-avatar
                        (click)="op.toggle($event)"
                        label="P"
                        [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
                        styleClass="mr-2"
                        size="xlarge"
                        shape="circle" />
                        
                        <!-- <button (click)="login()" type="button" class="p-link">
                            <img style="width: 40px;"
                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Profile">
                        </button> -->

                    </div>
                    <p-overlayPanel #op [style]="{ width: '200px' ,right:'200px' }">
                        <div>
                            <div>
                                
                                <p-button routerLink="/login"  label="Login" [link]="true" />
                            </div>
                            <div>
                             
                                <p-button (click)="logout()"  label="Cerrar Seccion" [link]="true" />
                            </div>
                            
                        </div>
                        
                    </p-overlayPanel>
                    <div style="margin-left: 10px;">
                        <app-cart></app-cart>
                    </div>
                </div>
            </ng-template>
        </p-menubar>

    </div>
</div>