<div class="container">
    <div class="card">
        <p-menubar>
            <ng-template pTemplate="start">
                <img width="100px"
                    src="https://scontent.fpvo2-1.fna.fbcdn.net/v/t39.30808-6/277748382_675108756794965_7309813779436965160_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=5jDr5eBjSB4Q7kNvgGi5x_w&_nc_ht=scontent.fpvo2-1.fna&_nc_gid=AHhty1T9ZSJKWgMLqODRLcU&oh=00_AYDcbngOUwladIjxsGaNddXkJKcEGzGVEcPqyykVTpwFng&oe=6723717B"
                    alt="">
                <!-- <img src="../../../assets/img/logo_surblock.png" alt=""> -->
                <div style="display: inline; margin-left: 30px;" class="card flex justify-content-center">
                    <p-sidebar [(visible)]="sidebarVisible">
                        <h3>Categorias</h3>
                        <div class="card flex justify-content-center">
                            <p-tree class="w-full md:w-30rem" [value]="categorias" />
                        </div>
                    </p-sidebar>
                    <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" />
                </div>
            </ng-template>
                        
            <ng-template pTemplate="item" let-item let-root="root">

                <a pRipple class="flex align-items-center p-menuitem-link">
                    
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                    <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                    <span *ngIf="item.shortcut"
                        class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut
                        }}</span>
                    <i *ngIf="item.items"
                        [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
                </a>
            </ng-template>
            <ng-template pTemplate="end">
                <div style="display: flex; align-items: center;" class="flex align-items-center gap-2">
                    <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
                    <div style="margin-left: 10px">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" />
                    </div>
                </div>
            </ng-template>
        </p-menubar>
       
    </div>
</div>