<div class="container-foto">
    <div class="container-degradado">
        <div style="width: 100%; height: 100%;">
            <p-carousel [value]="carouselShow" [numVisible]="1" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                <ng-template let-carousels pTemplate="item">
                    <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                        <div class="mb-3">
                            <div class="relative mx-auto">
                                <!-- <div style="position: absolute; margin: 10px;">
                                    <p-tag [value]="carousels.inventoryStatus"
                                        [severity]="getSeverity(carousels.inventoryStatus)" class="absolute"
                                        styleClass="dark:!bg-surface-900" [ngStyle]="{ 'left.px': 0, 'top.px': 0}" />
                                </div> -->
                                <img style="width: 100%; height: 400px;"
                                    [src]="carousels.image_path"
                                    [alt]="carousels.name" class="w-full rounded-border" />
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
<div style="width: 100%; display: flex; justify-content: center;">
    <div style="width: 70%; height: max-content; display: flex; justify-content: center; align-items: center;">
        <div
            style="display: flex; justify-content: center; width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">
            <div *ngFor="let product of products" style="width: 200px">
                <div style="width: 200px; height: 170px; ">
                    <div style="z-index: 1; position: absolute;" *ngIf="product.stock < 1">
                        <img style="width: 80px;" src="img/agotado-banner-diagonal.png"
                            alt="">
                    </div>
                    <div (click)="quickView(product.images)" class="quick-view"
                    style="width: 200px;height: 200px; position: absolute;z-index: 100;">
                  </div>
                    <div *ngFor="let imgs of product.images" >
                        <div *ngIf="imgs.top ==1">
                            <img style="width: 200px; height: 200px;"
                            [src]="imgs.image_path"
                            alt="">  
                        </div>


                        <!-- <div class="card flex justify-content-center">
                            <p-galleria [value]="product.images" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptionsImg"
                                [containerStyle]="{'max-width': '100%'}" [numVisible]="9" [circular]="true" [fullScreen]="true"
                                [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
                                [showIndicatorsOnItem]="true">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.image_path" style="width: 500px; display: block;" />
                                </ng-template>
                                <ng-template pTemplate="thumbnail" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img [src]="item.image_path" style="display: block;" /> 
                                    </div>
                                </ng-template>
                            </p-galleria>
                        </div> -->


                    </div>

                <!-- <div class="card flex justify-content-center">
                    <p-galleria [value]="images" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptionsImg"
                        [containerStyle]="{'max-width': '100%'}" [numVisible]="9" [circular]="true" [fullScreen]="true"
                        [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
                        [showIndicatorsOnItem]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" style="width: 500px; display: block;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="grid grid-nogutter justify-content-center">
                                <img [src]="item.thumbnailImageSrc" style="display: block;" />
                            </div>
                        </ng-template>
                    </p-galleria>
                </div> -->

                    <!-- <img *ngIf="getTopImage()" [src]="getTopImage()" alt="Imagen Top 1"> -->


                <!-- <img style="width: 200px; height: 200px;"
                    src="http://localhost:8000/storage/products/yRr02wIXFVVyAzj5JPOkTGnWrEw1SNmku6i9PsUb.jpg"
                        alt="">  -->
                         
                </div>
                <div class="card flex justify-content-center">
                    <p-galleria [value]="images" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptionsImg"
                        [containerStyle]="{'max-width': '100%'}" [numVisible]="9" [circular]="true" [fullScreen]="true"
                        [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
                        [showIndicatorsOnItem]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.image_path" style="width: 500px; display: block;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="grid grid-nogutter justify-content-center">
                                <img [src]="item.image_path" style="display: block;" /> 
                            </div>
                        </ng-template>
                    </p-galleria>
                </div>

                <p-card [style]="{height:'170px'}">
                    <div style="font-size:10px ;text-align: center; margin-bottom: 10px;">
                        <div>
                            <span>
                                {{ product.name }}
                            </span>
                        </div>
                        <div style="font-size: large;">
                            <span>
                                ${{ product.price }}
                            </span>
                        </div>
                        <div>
                            <span>
                                {{ product.category.name }}
                            </span>
                        </div>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div *ngIf="product.stock > 0">
                            <p-toast />
                            <p-button (click)="addToCart(product.id ,1)" label="add to cart"
                                icon="pi pi-shopping-cart"
                                [style]="{width: '170px',fontSize: '10px',height:'5px',backgroundColor:'#4a89ccc6'}"></p-button>
                            <p-button (click)="redirectOverview(product.id)" label="Detalle"
                                icon="pi pi-shopping-cart"
                                [style]="{width: '170px',fontSize: '10px',height:'5px',backgroundColor:'#4a89ccc6'}"></p-button>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>