.container-foto {
    width: 100%;
   /*  background-image: url("https://impromex.com.ec/img/cms/Portadas%20Superiores/Portada-web-certificaciones.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* height: ; */
    
    font-size: x-small;

}

.container-degradado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* font-size: ; */
   /*  padding: ; */
    /* background-color: #4a89ccc6; */
    border: none;
}

