<div class="container-foto">
    <div class="container-degradado">
        <div style="width: 100%; height: 100%;">
            <p-carousel [value]="carouselShow" [numVisible]="1" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                <ng-template let-product pTemplate="item">
                    <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                        <div class="mb-3">
                            <div class="relative mx-auto">
                                <div style="position: absolute; margin: 10px;">
                                    <p-tag [value]="product.inventoryStatus"
                                        [severity]="getSeverity(product.inventoryStatus)" class="absolute"
                                        styleClass="dark:!bg-surface-900" [ngStyle]="{ 'left.px': 0, 'top.px': 0}" />
                                </div>
                                <img style="width: 100%; height: 400px;"
                                    src="https://scontent.fpvo2-1.fna.fbcdn.net/v/t1.6435-9/104689225_2682275111879131_2767355865522515032_n.png?_nc_cat=110&ccb=1-7&_nc_sid=2a1932&_nc_ohc=BeAh3zvg8dcQ7kNvgFvlwTJ&_nc_ht=scontent.fpvo2-1.fna&_nc_gid=Aa-5Ui3rZuBAICsKPKs6z1Z&oh=00_AYA7lxxPPTC6oeQEW2_f1YF9huGzKRFZvgOexllGjnBvzg&oe=674556B4"
                                    [alt]="product.name" class="w-full rounded-border" />
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
<div style="width: 100%; display: flex; justify-content: center;">
    <div style="width: 70%; height: max-content; display: flex; justify-content: center; align-items: center;">
        <div
            style="display: flex; justify-content: center; width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">
            <div *ngFor="let product of products" style="width: 200px">
                <div style="width: 200px; height: 170px; ">
                    <div style="z-index: 1; position: absolute;" *ngIf="product.stock < 1">
                        <img style="width: 80px;" src="https://prueba.iac.com.co/demo_muebles/images/agotado.png"
                            alt="">
                    </div>
                    <div (click)="quickView()" class="quick-view"
                        style="width: 200px;height: 200px; position: absolute;z-index: 100;">
                    </div>
                    <img style="width: 200px; height: 200px;"
                        src="https://kywiec.vtexassets.com/arquivos/ids/198881-800-auto?v=638536499919300000&width=800&height=auto&aspect=true"
                        alt="">
                </div>
                <div class="card flex justify-content-center">
                    <p-galleria [value]="images" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptionsImg"
                        [containerStyle]="{'max-width': '100%'}" [numVisible]="9" [circular]="true" [fullScreen]="true"
                        [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
                        [showIndicatorsOnItem]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" style="width: 500px; display: block;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="grid grid-nogutter justify-content-center">
                                <img [src]="item.thumbnailImageSrc" style="display: block;" />
                            </div>
                        </ng-template>
                    </p-galleria>
                </div>
                <p-card [style]="{height:'170px'}">
                    <div style="font-size:10px ;text-align: center; margin-bottom: 10px;">
                        <div>
                            <span>
                                {{ product.name }}
                            </span>
                        </div>
                        <div style="font-size: large;">
                            <span>
                                ${{ product.price }}
                            </span>
                        </div>
                        <div>
                            <span>
                                {{ product.category.name }}
                            </span>
                        </div>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div *ngIf="product.stock > 0">
                            <p-toast />
                            <p-button (click)="addToCart(product.id ,1)" label="add to cart"
                                icon="pi pi-shopping-cart"
                                [style]="{width: '170px',fontSize: '10px',height:'5px',backgroundColor:'#4a89ccc6'}"></p-button>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>