/* Contenedor que centra la tarjeta en pantalla */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Estilos para la tarjeta */
.register-card {
  width: 400px;
  padding: 1rem;
}

/* Encabezado y Pie de la tarjeta */
.card-header,
.card-footer {
  text-align: center;
  padding: 1rem 0;
}

.card-header h2 {
  margin: 0;
  font-size: 1.75rem;
  color: #333;
}

.card-footer small {
  font-size: 0.9rem;
}

.p-button-success{
  text-align: center;
  color: red;
}