<div style="position: fixed; z-index: -100;">
  <img style="width: 100%;" src="img/fondo_login.jpg" alt="">
</div>

 
  <div class="register-container" style="background-color: #0000006e;">
      <p-card styleClass="register-card">
        <ng-template pTemplate="header">
          <div class="card-header">
            <h2>Crear Cuenta</h2>
          </div>
        </ng-template>

        <ng-template pTemplate="content">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="p-fluid">
              <!-- Campo Nombre -->
              <div class="field">
                <label for="name">Nombre</label>
                <span class="p-input-icon-left">
                  <i class="pi pi-user"></i>
                  <input id="name" type="text" pInputText formControlName="name" placeholder="Nombre" />
                </span>
              </div>

              <!-- Campo Correo Electrónico -->
              <div class="field">
                <label for="email">Correo Electrónico</label>
                <span class="p-input-icon-left">
                  <i class="pi pi-envelope"></i>
                  <input id="email" type="email" pInputText formControlName="email" placeholder="Correo Electrónico" />
                </span>
              </div>

              <!-- Campo Teléfono -->
              <div class="field">
                <label for="phone">Teléfono</label>
                <div class="p-inputgroup">
                  <!-- Selección de Código de País -->
                  <p-dropdown 
                  optionLabel="name"
                  [filter]="true"
                  [options]="countryCodes"  
                  optionValue="phoneCode" 
                  formControlName="phoneCode"  
                  placeholder="Selecciona un país"
                  [style]="{'width': '150px'}">
                </p-dropdown>
                
                  <!-- <p-dropdown [ngClass]="{
                    'ng-invalid': productForm.get('category_id')?.invalid && productForm.get('category_id')?.touched,
                    'ng-dirty': productForm.get('category_id')?.dirty
                  }" formControlName="category_id" [style]="{ 'width': '400px' }" [options]="categorias" optionLabel="name"
                            optionValue="id" placeholder="Select a Category">
                          </p-dropdown> -->

                  <input id="phone" type="text" pInputText formControlName="phone" placeholder="Número de Teléfono" />
                </div>
              </div>

              <!-- Campo Contraseña -->
              <div class="field">
                <label for="password">Contraseña</label>
                <p-password id="password" formControlName="password" [toggleMask]="true" placeholder="Contraseña"></p-password>
              </div>

              <!-- Botón de Registro -->
              <div style="display: flex; justify-content: center; text-align: center;" class="field">
                <p-button label="Registrar" type="submit" [disabled]="registerForm.invalid" class="p-fluid"></p-button>


              </div>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="card-footer">
            <small>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></small>
          </div>
        </ng-template>
      </p-card>
      <p-toast></p-toast>
    </div>
  
