<div class="register-form ">
  <div >
    <h2 style=" text-align: center;" >Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div >
        <!-- Nombre -->
        <div  >
          <p-floatLabel>
            <input
              id="name"
              type="text"
              pInputText
              formControlName="name"
              class="p-inputtext-lg"
            />
            <label for="name">Nombre</label>
          </p-floatLabel>
          <small
            *ngIf="
              registerForm.controls['name'].invalid &&
              registerForm.controls['name'].touched
            "
            class="p-error"
          >
            El nombre es obligatorio y debe tener al menos 3 caracteres.
          </small>
        </div>

        <!-- Correo Electrónico -->
        <div style="margin: 5% 0 5% 0 ;">
          <p-floatLabel>
            <input
              id="email"
              type="email"
              pInputText
              formControlName="email"
              class="p-inputtext-lg"
            />
            <label for="email">Correo Electrónico</label>
          </p-floatLabel>
          <small
            *ngIf="
              registerForm.controls['email'].invalid &&
              registerForm.controls['email'].touched
            "
            class="p-error"
          >
            Ingresa un correo válido.
          </small>
        </div>

        <!-- Contraseña -->
        <div style="margin: 5% 0 5% 0 ;" >
          <p-floatLabel>
            <input
              id="password"
              type="password"
              pInputText
              formControlName="password"
              class="p-inputtext-lg"
            />
            <label for="password">Contraseña</label>
          </p-floatLabel>
          <small
            *ngIf="
              registerForm.controls['password'].invalid &&
              registerForm.controls['password'].touched
            "
            class="p-error"
          >
            La contraseña debe tener al menos 6 caracteres.
          </small>
        </div>

        <!-- Botón de registro -->
        <div >
          <button
            pButton
            pRipple
            label="Registrar"
            class="p-button-success p-button-lg"
            type="submit"
            [disabled]="registerForm.invalid"
          >
          </button>
        </div>
      </div>
    </form>
  </div>
  <p-toast></p-toast>
</div>
