<!-- Plantilla de carga -->
<ng-template #loading>
  <p>Cargando las especificaciones del producto...</p>
</ng-template>

<!-- Galería del producto -->
<div class="card" *ngIf="productSpecifications?.data?.images?.length; else loading">
  <div class="flex flex-wrap gap-3 mb-5">
    <p-radioButton
      *ngFor="let option of positionOptions"
      [name]="option.label"
      [value]="option.value"
      [label]="option.label"
      [(ngModel)]="position"
    ></p-radioButton>
  </div>

  <p-galleria
    [value]="productSpecifications.data.images"
    [thumbnailsPosition]="position"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '640px' }"
    [numVisible]="5"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.image_path"
        [alt]="item.description || 'Imagen del producto'"
        class="gallery-item-image"
      />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img
          [src]="item.image_path"
          [alt]="item.description || 'Miniatura del producto'"
          class="gallery-thumbnail-image"
        />
      </div>
    </ng-template>
  </p-galleria>
</div>
